/*foodImage position*/
#chapter2 > [data-value="page9"] > .foodImage:nth-child(1){
	margin-top:-250px;
	margin-left:300px;
}
#chapter2 > [data-value="page9"] > .foodImage:nth-child(2){
	margin-top:-250px;
	margin-left: -700px;
}
#chapter2 > [data-value="page9"] > .foodImage:nth-child(3){
	margin-top:50px;
	margin-left:300px;
}
#chapter2 > [data-value="page9"] > .foodImage:nth-child(4){
	margin-top:50px;
	margin-left: -700px;
}
#chapter2 > [data-value="page9"] > .foodImage:nth-child(5){
	margin-top:50px;
	margin-left: -200px;
}
#chapter2 > [data-value="page9"] > .foodImage:nth-child(6){
	margin-top:-250px;
	margin-left: -200px;
}



#chapter2 > [data-value="page16"] > .foodImage:nth-child(1){
	margin-top: 0px;
	margin-left: -250px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(2){
	margin-top:-260px;
	margin-left: -400px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(3){
	margin-top: 150px;
	margin-left: 350px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(4){
	margin-top: 200px;
	margin-left: -500px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(5){
	margin-top: 200px;
	margin-left:0px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(6){
	margin-top: -50px;
	margin-left: 150px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(7){
	margin-top:-220px;
	margin-left: 400px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(8){
	margin-top:-250px;
	margin-left: 0px;
}
#chapter2 > [data-value="page16"] > .foodImage:nth-child(9){
	margin-top:-120px;
	margin-left: -650px;
}



#chapter2 > [data-value="page17"] > .foodImage:nth-child(1){
	margin-top: -60px;
	margin-left: -400px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(2){
	margin-top:-260px;
	margin-left: -600px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(3){
	margin-top: 0px;
	margin-left: 220px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(4){
	margin-top: 160px;
	margin-left: -650px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(5){
	margin-top: 200px;
	margin-left: -250px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(6){
	margin-top: -50px;
	margin-left: -100px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(7){
	margin-top:-280px;
	margin-left: 100px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(8){
	margin-top: -250px;
	margin-left: -250px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(9){
	margin-top: -120px;
	margin-left: -800px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(10){
	margin-top: 250px;
	margin-left: 440px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(11){
	margin-top: 220px;
	margin-left: 110px;
}
#chapter2 > [data-value="page17"] > .foodImage:nth-child(12){
	margin-top:-190px;
	margin-left: 450px;
}



#chapter6 > [data-value="page2"] > .foodImage:nth-child(2){
	margin-top: -50px;
	margin-left: 300px;
}
#chapter6 > [data-value="page2"] > .foodImage:nth-child(3){
	margin-top: -300px;
	margin-left: -150px;
}
#chapter6 > [data-value="page2"] > .foodImage:nth-child(4){
	margin-top: -50px;
	margin-left: -150px;
}
#chapter6 > [data-value="page2"] > .foodImage:nth-child(5){
	margin-top: -50px;
	margin-left: -600px;
}
#chapter6 > [data-value="page2"] > .foodImage:nth-child(6){
	margin-top: -300px;
	margin-left: 300px;
}
#chapter6 > [data-value="page2"] > .foodImage:nth-child(7){
	margin-top: -300px;
	margin-left: -600px;
}


#chapter6 > [data-value="page3"] > .foodImage:nth-child(2){
	margin-top: -340px;
	margin-left: -520px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(3){
	margin-top:-100px;
	margin-left: 450px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(4){
	margin-top:-50px;
	margin-left: -500px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(5){
	margin-top:-50px;
	margin-left:0px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(6){
	margin-top: -200px;
	margin-left: 200px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(7){
	margin-top: -350px;
	margin-left: 400px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(8){
	margin-top: -330px;
	margin-left:-50px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(9){
	margin-top:-170px;
	margin-left: -700px;
}
#chapter6 > [data-value="page3"] > .foodImage:nth-child(10){
	margin-top: -200px;
	margin-left: -250px;
}