@font-face {
  font-family: EducationVAGRounded-Bold;
  src: url(EducationVAGRounded-Bold.ttf);
}

@font-face {
  font-family: EducationVAGRounded-Black;
  src: url(EducationVAGRounded-Black.ttf);
}


button {
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

input {
    outline: none;
    overflow: hidden;
}

iframe {
    display: block;
    overflow: hidden;
}


body {
    color: #4a4a4a;
    background-image: url(../media/Background/Stander_page_Cover.png);
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}

#topButtonMenu{
    position: fixed;
    top: 73px;
    left:50%;
    width:1600px;
    margin-left: -800px;
    text-align: center;
    z-index: 1000;
}


.topButton{
	margin: 0px 59px;
}

.leftButtonMenu{
    top: 271px;
    position:fixed;
    left:0%;
    z-index: 1000;
}

.rightButtonMenu{
    top: 271px;
    position:fixed;
    right:0%;
    text-align: right;
    z-index: 1000;
}

.sideButton{
	margin: 10px -6px;
	display: table;
}

.roster{
	padding:0px 35px;
	position: absolute;
	top: -205px;
}

.pages{
	display: none;
}

.active{
	display: inline-block !important;
}

.pageTitle{
	top:50%;
	left:50%;
	right:0;
	width:1000px;
	margin-left:-500px;
	margin-top:-100px;
	position: fixed;
	font-family: EducationVAGRounded-Bold;
	color: #822375;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}

.imageTitle{
	top:50%;
	left:50%;
	right:0;
	width:1920px;
	margin-left:-960px;
	position: fixed;
	text-align: center;
}

.popup{
	top:50%;
	left:50%;
	right:0;
	width:1920px;
	margin-left:-960px;
	margin-top: -540px;
	position: fixed;
	text-align: center;
	z-index:1000;
}

.structureTitle{
	bottom: 0%;
	left:50%;
	width:1920px;
	margin-left:-960px;
	position: fixed;
	text-align: center;
	z-index: -1;
}

.structureDown{
	bottom: 0%;
	left:50%;
	width:1600px;
	margin-left:-800px;
	position: fixed;
	text-align: center;
}

.buildWordsTitle{
	top:50%;
	left:50%;
	width:1920px;
	margin-left: -960px;
	margin-top:-150px;
	position: fixed;
	text-align: center;
}

.bwBox{
	display: inline-block;
	margin: 0 75px;
}

.structureBox{
	display: inline-block;
}

.finaleTitle{
	bottom:0%;
	left:50%;
	right:0;
	width:1920px;
	margin-left:-960px;
	position: fixed;
	text-align: center;
}

.videoTitle{
	top:50%;
	left:50%;
	right:0;
	width: 1920px;
	margin-left: -960px;
	margin-top:-250px;
	position: fixed;
	text-align: center;
}

.wheelButton{
	margin: 0px 42px;
}

.Hbutton, .Mbutton{
	display: none;
}

.foodNumber{
	font-family: EducationVAGRounded-Bold;
	color: black;
	font-size: 30px;
	z-index: 50;
	/*margin-top: -60px;*/
	margin: -60px 20px 0 20px;
/*	left: 50%;
    top: 50%;
    right:0;
	width:600px;
	margin-left:-300px;
	margin-top:-270px;
	position: fixed;
	text-align: center;*/
}

.frontNumber{
	font-size:40px;
	font-weight: bold;
}

.foodImage{
	top:50%;
	left:50%;
	position: fixed;
	text-align: center;
}

.foodText{
	display: none;
	font-family: EducationVAGRounded-Bold;
	color: black;
	font-size: 80px;
	z-index: 50;
	left: 50%;
	top: 50%;
	right:0;
	width:1200px;
	margin-left:-600px;
	margin-top: 230px;
	position: fixed;
	text-align: center;
}

.bwUp img, .bwDown img{
	margin:0 5px;
}

.bwDown {
	margin-top:30px;
}

.bwCorrect{
	display:none;
	position: absolute;
	top: -120px;
	margin-left: 340px;
}

.quizCorrect{
	display:none;
	position: fixed;
	text-align: center;
	top:50%;
	left:50%;
}

.dropBox{
	display: inline-block;
}

.structureLeft{
	display: inline-block;
	position: absolute;
	top: -570px;
	left: 200px;
	z-index: 100;
}

.structureRight{
	display: inline-block;
	position: absolute;
	z-index: 100;
	right: 15px;
	top: -565px;
}

.structureMid{
	width: 600px;
}

.structureMid > img{
	margin:8px 6px;
}

.foodPriceLeft{
	display: inline-block;
	position: absolute;
	width: 600px;
	left: -20px;
	top: -50px;
}

.foodPriceRight{
	display: inline-block;
	position: absolute;
	width: 600px;
	right: 10px;
	top: -50px;
}

.foodPriceLeft > img, .foodPriceRight >img{
	margin: 8px 6px;
}

.foodPriceMid{
	margin-top: 150px;
}

.alphaBox{
	top:50%;
	left:50%;
	right:0;
	width: 1600px;
	margin-left: -800px;
	margin-top: 150px;
	display: inline-block;
	position: fixed;
	text-align: center;
}

.alpha{
	margin: 0 100px;
	cursor: pointer;
}

.quizText{
	font-family: EducationVAGRounded-Bold;
	color: black;
	font-size: 85px;
	z-index: 50;
	left: 50%;
	top: 50%;
	right:0;
	width:1200px;
	margin-left:-600px;
	margin-top: -220px;
	position: fixed;
	text-align: center;
}

.quizImage{
	top:50%;
	left:50%;
	right:0;
	width: 1920px;
	margin-left: -960px;
	margin-top: -150px;
	position: fixed;
	text-align: center;
	display: inline-block;
}

.quizImage .alpha{
	margin:0 52px;
}

.resetButton{
	top: 238px;
	left:50%;
	width:100px;
	margin-left:-50px;
	position: fixed;
	text-align: center;
	z-index: 100;
	cursor: pointer;
}

.pin{
	display: none;
}

#rosterBack{
	position: absolute;
	left: 50px;
	top: 50px;
}

.penIcon{
	top: 410px;
	position: fixed;
	z-index: 1000;
}

.penIcon:nth-child(1){
	text-align: left;
	left:0%;

}

.penIcon:nth-child(2){
	text-align: right;
	right: 0%;
}

.imageTitle > img, .foodImage > img {
	cursor: pointer;
}

#chapter2 .imageTitle > img{
	 margin-top:-200px; 
}

#chapter1 .imageTitle > img {
	margin-top: -500px;
}

#chapter3 .imageTitle > img{
	margin-top: -280px;
}
#chapter3 .imageTitle > .pinCanvas{
	margin-top:-250px;
	z-index: 100;
	position: absolute;
}

.phonics .imageTitle > img{
	  margin-top: -300px;
}

#chapter2 .resetButton, .phonics .resetButton{
	/* top:208px !important; */
}

#chapter5 > [data-value="page14"] > .quizCorrect{
	margin-top: 70px;
	margin-left: 370px;
}

#chapter5 > [data-value="page20"] > .quizCorrect{
	margin-top: -30px;
	margin-left: 560px;
}


@-webkit-keyframes shakeit {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }

 .shakeit{
    -webkit-animation-name:              shakeit;    
    -webkit-animation-duration:          0.8s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
 }

 .dragBox, .dropBox{
 	touch-action:none;
 }