#chapter3 > [data-value="page7"] > .imageTitle:nth-child(1){
	margin-top:-200px;
}
#chapter3 > [data-value="page7"] > .imageTitle:nth-child(2){
	margin-top: -93px;
}
#chapter3 > [data-value="page7"] > .imageTitle:nth-child(3){
	margin-top: 50px;
}

#chapter3 > [data-value="page7"] > .imageTitle img{
	margin: 0 25px;
}



#chapter3 > [data-value="page5"] > .imageTitle{
	width:1600px;
	margin-left: -800px;
	margin-top: -250px;
}
#chapter3 > [data-value="page5"] > .imageTitle .structureMid {
	margin-top:100px;
}

#chapter3 > [data-value="page6"] > .imageTitle{
	width:1600px;
	margin-left: -800px;
	margin-top: -250px;
}
#chapter3 > [data-value="page6"] > .imageTitle .structureMid {
	margin-top:50px;
}

#chapter3 > [data-value="page8"] > .imageTitle{
	width:1600px;
	margin-left: -800px;
	margin-top: -250px;
}
#chapter3 > [data-value="page8"] > .imageTitle .structureMid {
	margin-top:0px;
}

#chapter3 > [data-value="page9"] > .imageTitle{
	width:1600px;
	margin-left: -800px;
	margin-top: -250px;
}





